@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.signup-form {
  width: 300px;
  padding: 20px;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.signup-form h1 {
  margin-top: 5px;
  font-family: 'Permanent Marker', cursive;
  color: #fff;
  font-size: 50px;
}

.signup-form input {
  display: block;
  width: 100%;
  padding: 0 16px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: 'montserrat', sans-serif;
}

.txtb {
  margin: 20px 0;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

.signup-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #488ab0;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: #005a8f;
  color: rgb(255, 255, 255);
}
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.signup-btn-b {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #488ab0;
  color: #fff;
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}

.test {
  border: 3px solid black;
}

.vibe-btn {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 40px;
  width: 100px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(22, 76, 167, 0.6);
  margin-left: 100px;
}
.vibe-btn span {
  color: #164ca7;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
.vibe-btn:hover {
  animation: rotate 0.7s ease-in-out both;
}
.vibe-btn:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.profile-btn {
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  margin: 10px 10px 12px;
}
.profile-btn:hover {
  background-color: #ffffff;
  color: black;
}
.profile-btn:active {
  position: relative;
  top: 1px;
}

.profile-btn-left {
  margin-left: 15px;
}

.profile-btn-plus {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: #242323;
  border-radius: 6px;
  border: 1px solid #d6c8c8;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 13px;

  padding: 6px 24px;
  text-decoration: none;
  margin: 10px 5px 10px;
}
.profile-btn-plus:hover {
  background-color: #161616;
}
.profile-btn-plus:active {
  position: relative;
  top: 1px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  position: relative;
  animation: change 10s ease-in-out infinite;
}

.body-other {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  position: relative;
  animation: change 10s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

h1 {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 200px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin-bottom: 10px;
}

p {
  color: #685206;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
}

.description-txt {
  margin: 30px;
}

.descrip2 {
  font-size: 10px;
  text-transform: uppercase;
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: 2px;
  border: 3px solid #fff;
  position: relative;
  padding: 3rem 5rem;
  margin-bottom: 20px;
}

.tb5 {
  background: transparent;
  border-radius: 5px;
  border: 1px solid #ffffff;
  color: white;
  border-radius: 10px;
  height: 100px;
  width: 230px;
  margin-left: 50px;
  margin-top: 6px;
  margin-bottom: 10px;
  position: center;
}

.tb5:focus {
  outline: none !important;
  border: 1px solid white;
  box-shadow: 0 0 10px #719ece;
}

.nodecor {
  text-decoration: none;
  color: white;
}
.nodecory {
  text-decoration: palegreen;
  color: white;
}
::placeholder {
  color: white;
}

.push-upload-btns {
  margin-left: 60px;
}

.push-profile-btns {
  margin-left: 10px;
}

.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Upload';
  color: white;
  display: inline-block;
  background: transparent;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 6px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 10pt;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 13px;
  padding: 6px 24px;
  margin-left: 50px;
}
.custom-file-input:hover::before {
  color: black;
  background-color: white;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.profile-pic-upload {
  border-radius: 50%;
  /*border: 3px solid white;
  padding: 5px;*/
}

.profile-pic-upload-2 {
  border-radius: 3%;
  margin-left: 50px;
  margin-bottom: 10px;
}

/*.hidden {
  height: 0px;
  overflow: hidden;
}*/

.custom-file-input-1 {
  color: transparent;
}
.custom-file-input-1::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input-1::before {
  content: "Upload Profile Picture";
  color: white;
  display: inline-block;
  background: transparent;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 6px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 10pt;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 13px;
  padding: 6px 24px;
  margin-left: 47px;
}
.custom-file-input-1:hover::before {
  color: black;
  background-color: white;
}

.custom-file-input-1:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

/*search*/

.search_box {
  width: 50%;
  position: relative;
}

.search_box input[type="text"] {
  width: 100%;
  padding: 20px;
  padding-right: 60px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
  border-radius: 10px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 13px;
  color: #fff;
  outline: non;
  margin: 20px;
}

::-webkit-input-placeholder {
  color: #fff;
}

.fa-search {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 25px;
}

.description-box-container {
  text-align: center;
}

.description-box {
  border: 3px solid white;
  width: 90%;
  height: 3em;

  font-family: "Helvetica Neue", sans-serif;
  font-size: 13px;
  padding: 6px 24px;
  display: inline-block;
}

.picsadded {
  border: 1px solid white;
  border-radius: 7%;
}
